<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
</head>
<body>
   
    <div class="row clearfix">
        <div class="ac mt-4  block" style=" background: url('/Image/Aircon/menwork.jpg'); background-size: cover; height: 500px;  background-position: center; background-repeat: no-repeat;
         position: relative;">
         <h1 style=" margin: 0; font-size: 3rem;  text-align: center; top:50%; padding-top:30px; color:#fff;">Home <i class="bi bi-chevron-double-right"></i>  About Us</h1>
        </div>
    </div>
  
    <!--  <div class="heading-block center pt-4 pb-4 ">-->

    <h2 style="color:#001064" class="mt-4 mb-4">WE VALUE WORK ETHICS & ENVIRONMENT THAT EXCELLENT SERVICE</h2>
    

    <!--info-->
    <div class="row p-4 text-center">
        <div class="col-6 center" data-animate="bounceIn">
            <i class="bi bi-people-fill"></i>
            <div class="counter counter-large" style="color: #3498db;"><span data-from="100" data-to="465" data-refresh-interval="50" data-speed="2000"></span></div>
            <h5>Clients Served</h5>
        </div>
        <div class="col-6 center" data-animate="bounceIn" data-delay="200">
            <i class="bi bi-bag-fill"></i>
            <div class="counter counter-large" style="color: #16a085;"><span data-from="100" data-to="554" data-refresh-interval="50" data-speed="3500"></span></div>
            <h5>No. of Projects</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-6 pl-5">
            <img src="~/Image/Aircon/WhatsApp Image 2022-08-09 at 2.35.29 PM.jpeg" alt="John Doe">
        </div>

        <div class="col-5" style="color:#001064">
            <h1 style="color:#001064">Royal Refridgeration<span class="subtitle"> & Air Conditioning Services</span></h1>
            <p>
                Our Goal is to provide the highest quality design and installation services, on schedule,
                and on budget. <br />We understand that time and cost are crucial so we
                strive to go above and beyond our client’s expectations with outstanding customer service.<br />
                For our customers peace of mind, we offer valuable money saving service.
                Please call for additional details.
            </p>
           <center> <a>  <img src="~/Image/Aircon/animatedPhone.gif" width="80" class="h1 t700 center"  alt="John Doe"></a></center>
        </div>
    </div>

    <!--Workers-->
    <div class="heading-block center mt-5 mb-5 p-4">

        <h4 style="color:#001064">Our Team Members who have contributed immensely to our Growth</h4>
    </div>

    <div class="row  mb-5">

        <div class="col-4 pl-5 center">
            <div class="team team-list row align-items-center">
                <div class="team-image ">
                    <img src="~/Image/team-image-1.jpg" style="border-radius: 50%;" alt="John Doe">
                </div>
                <div class="team-desc ">
                    <div class="team-title"><h4 style="color:#001064">Washington Kunonga</h4><span>CEO</span></div>
                    
                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                   
                </div>
            </div>
        </div>

        <div class="col-4 pl-5">
            <div class="team team-list row align-items-center">
                <div class="team-image ">
                    <img src="~/Image/team-image-2.jpg" style="border-radius: 50%;" alt="Josh ">
                </div>
                <div class="team-desc ">
                    <div class="team-title"><h4 style="color:#001064">Joshua Darikwa</h4><span>Technician</span></div>
                    
                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                   
                </div>
            </div>
        </div>

        <div class="col-4 pl-5">
            <div class="team team-list row align-items-center">
                <div class="team-image center">
                   <img src="~/Image/team-image-3.jpg" style="border-radius: 50%;" alt="Mary Jane">
                </div>
                <div class="team-desc  ">
                    <div class="team-title"><h4 style="color:#001064">Bill Mhofu</h4><span>Technician</span></div>
                    
                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook pl-2">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                 
                </div>
            </div>
        </div>

      

    </div>

    <!--Why choose us-->


    <h1 style="text-align:center; color :#001064;">Why Choose Us ?</h1>
    <hr />

    <div class="section parallax dark" ; padding: 120px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

        <div class="fslider testimonial testimonial-full" data-arrows="false" style="z-index: 2;  color :#001064;">
            <div class="flexslider">
                <div class="slider-wrap">
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="~/Image/fact1.png" width="10" height="10" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">

                            <div class="testi-meta">
                                Fast Friendly Service

                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="~/Image/thumb-up.png" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">

                            <div class="testi-meta">
                                Expect Technicians

                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="~/Image/fact3.png" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">

                            <div class="testi-meta">
                                Quality Guaranteed

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-wrap" style="z-index: 1;">
            <div class="video-overlay" style="background: #fd7e14;"></div>
        </div>

    </div>



</body>
</html>