<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
</head>
<body>
    <!--
    <div class="container" style="background:#6610f2; height:140px; text-align:center; justify-content:center; color:#fff;">
        <h1 class="FAQ" style="color:#fff">About Us </h1>
        <h3 style="color:dimgray; text-align:center ">
            Home <i class="bi bi-chevron-double-right"></i>
            <span style="color:#fff; padding-top:10px;">  About Us</span>
        </h3>
    </div>
    -->
    <!--Slider-->
    <section id="slider" class="slider-element  swiper_wrapper full-screen clearfix" data-autoplay="7000" data-speed="650" data-loop="true">

        <div >

            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide " style="background-image: url('/Image/12.jpg'); background-position: center top; ">
                        <div class="container clearfix">
                            <div class=" slider-caption-center mt-20"  style="color: rgba(241,128,82,0.9);">
                                <h2 data-caption-animate="fadeInUp">Welcome to Royal Refridgeration and Air conditioning</h2>
                                <p class="d-none d-sm-block" data-caption-animate="fadeInUp" data-caption-delay="200">Providing unique solutions to your problems.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide " style="background-image: url('/Image/01.jpg'); background-position: center top; color: rgba(241,128,82,0.9); ">
                        <div class="container clearfix">
                            <div class=" slider-caption-center"> <!--slider-caption-->
                                <h2 data-caption-animate="fadeInDown">Cool Solutions</h2>
                                <p class="d-none d-sm-block" data-caption-animate="fadeInDown" data-caption-delay="200">Contact us 24/7</p>
                            </div>
                        </div>
                        <div class="video-wrap">
                            <video id="slide-video"   preload="auto" loop autoplay muted>
                                <source src='images/videos/explore.webm' type='video/webm' />
                                <source src='images/videos/explore.mp4' type='video/mp4' />
                            </video>
                            <div class="video-overlay" style="background-color: rgba(255,255,255,0.55);"></div>
                        </div>
                    </div>
                    <div class="swiper-slide" style="background-image: url('/Image/about-img-1.jpg'); background-position: center top;">
                        <div class="container clearfix">
                            <div class="slider-caption-center">
                                <h2 data-caption-animate="fadeInUp">Great Service</h2>
                                <p class="d-none d-sm-block" data-caption-animate="fadeInUp" data-caption-delay="200">Comfort Specialist</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
                <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
                <div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
                <div class="swiper-pagination"></div>-->
            </div>

        </div>

    </section>
    <!--
        <div class="slider">
        <div class="load"></div>
        <div class="content">
            <div class="principal">
            </div>
        </div>
    </div>
    -->
    <!--corousel pic
    <div class="container">
        <div class="row p-5" style="padding-top:100px; color:#f2942d ">
            <div >
                <h2>Refridgeration and Air Conditioning</h2>
                <h2>Comfort Specialist</h2>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="banner">

                        <div class="carousel-item active">
                            <img src="/Image/wave.jpg" class="d-block w-100" alt="...">

                        </div>

                        <div class="carousel-item">
                            <img src="Image/04.jpg" class="d-block w-100" alt="...">

                        </div>
                        <div class="carousel-item">
                            <img src="Image/03.jpg" class="d-block w-100" alt="...">

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    -->
    <!--  <div class="heading-block center pt-4 pb-4 ">-->

    <h2 class="mt-5 mb-5">We value Work Ethics &amp; Environment as it helps in creating an Excellent Service</h2>
    

    <!--info-->
    <div class="row p-4 text-center">
        <div class="col-6 center" data-animate="bounceIn">
            <i class="bi bi-people-fill"></i>
            <div class="counter counter-large" style="color: #3498db;"><span data-from="100" data-to="8465" data-refresh-interval="50" data-speed="2000"></span></div>
            <h5>Clients Served</h5>
        </div>
        <div class="col-6 center" data-animate="bounceIn" data-delay="200">
            <i class="bi bi-bag-fill"></i>
            <div class="counter counter-large" style="color: #16a085;"><span data-from="100" data-to="2154" data-refresh-interval="50" data-speed="3500"></span></div>
            <h5>No. of Projects</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-6 pl-5">
            <img src="~/Image/service-img.jpg" alt="John Doe">
        </div>

        <div class="col-5">
            <h1>Royal Refridgeration<span class="subtitle">& Air Conditioning Services</span></h1>
            <p>
                We&nbsp;pride ourself on being a one stop shop that is able to meet all of our&nbsp;client’s needs.
                Our&nbsp;<br /> Our Goal is to provide the highest quality design and installation services, on schedule,
                and on budget along with outstanding customer service.<br />We understand that time and cost are crucial so we&nbsp;
                strive to go above and beyond our&nbsp;client’s expectations.<br>
                For our&nbsp;customers peace of mind, we&nbsp;offer valuable money saving service and maintenance contracts.
                Please call for additional details.
            </p>
            <a>  <img src="~/Image/vibration.png" width="80" class="h1 t700" data-animate="tada" alt="John Doe"></a>
        </div>
    </div>

    <!--Workers-->
    <div class="heading-block center p-4">

        <h4>Our Team Members who have contributed immensely to our Growth</h4>
    </div>

    <div class="row col-mb-50 mb-0">

        <div class="col-lg-6 pl-5">
            <div class="team team-list row align-items-center">
                <div class="team-image col-sm-6">
                    <img src="~/Image/team-image-1.jpg" alt="John Doe">
                </div>
                <div class="team-desc col-sm-6">
                    <div class="team-title"><h4>Wahington Kunonga</h4><span>CEO</span></div>
                    <div class="team-content">
                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                    </div>
                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 pl-5">
            <div class="team team-list row align-items-center">
                <div class="team-image col-sm-6">
                    <img src="~/Image/team-image-2.jpg" alt="Josh ">
                </div>
                <div class="team-desc col-sm-6">
                    <div class="team-title"><h4>Joshua Darikwa</h4><span>Technician</span></div>
                    <div class="team-content">
                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                    </div>
                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 pl-5">
            <div class="team team-list row align-items-center">
                <div class="team-image col-sm-6">
                    <img src="~/Image/team-image-3.jpg" alt="Mary Jane">
                </div>
                <div class="team-desc col-sm-6">
                    <div class="team-title"><h4>Bill Mhofu</h4><span>Technician</span></div>
                    <div class="team-content">
                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                    </div>
                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 pl-5">
            <div class="team team-list row align-items-center">
                <div class="team-image col-sm-6">
                    <img src="~/Image/Workman.jpg" alt="Nix Maxwell">
                </div>
                <div class="team-desc col-sm-6">
                    <div class="team-title"><h4>Jordan Welaz</h4><span>Technician</span></div>
                    <div class="team-content">
                        <p>Carbon emissions reductions giving, legitimize amplify non-partisan Aga Khan. Policy dialogue assessment expert free-speech cornerstone disruptor freedom. Cesar Chavez empower.</p>
                    </div>
                    <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <!--Why choose us-->


    <h1 style="text-align:center; color :#007bff;">Why Choose Us ?</h1>
    <hr />

    <div class="section parallax dark" ; padding: 120px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">

        <div class="fslider testimonial testimonial-full" data-arrows="false" style="z-index: 2;">
            <div class="flexslider">
                <div class="slider-wrap">
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="~/Image/fact1.png" width="10" height="10" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">

                            <div class="testi-meta">
                                Fast Friendly Service

                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="~/Image/thumb-up.png" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">

                            <div class="testi-meta">
                                Expect Technicians

                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="testi-image">
                            <a href="#"><img src="~/Image/fact3.png" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">

                            <div class="testi-meta">
                                Quality Guaranteed

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-wrap" style="z-index: 1;">
            <div class="video-overlay" style="background: #fd7e14;"></div>
        </div>

    </div>



</body>
</html>