<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Conditioning</title>
</head>
<body class="stretched" style="background-color:rgba(0,0,0,0.03)">



    
    <h1 style=" margin: 0; font-size: 3rem;  text-align: center; top:50%; padding-top:30px; color:#001064;">Home <i class="bi bi-chevron-double-right"></i> Air Conditioning</h1>
    <div class="row clearfix">
        <div class="ac mt-5 mb-5" style=" background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/Image/Aircon/WhatsApp Image 2022-08-09 at 2.36.13 PM.jpeg'); background-size: cover; height: 400px;  background-position: center; background-repeat: no-repeat;
         position: relative;">
        </div>
    </div>

    <div class="words">
        <p style="color:#001064;"><b>We offer emergency and routine Air Conditioner repair. Fast, Efficient, and always with the highest quality service, 
        depend on us to fix your air conditioner any time of the day, any time of the year.
        </p>
        </div>

    <div class="row mt-5 mb-5 " style="color:#001064;">
        <div class="col-3">
            <div class="card text-center">

                <div class="cardCommercial">
                    <img src="/Image/Aircon/res2.jpeg" class="d-block " style="width:300px; height:300px" alt="...">
                    <h5 style="color:#001064;" class="card-title">Office</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center">

                <div class="cardCommercial">
                    <img src="../Image/Aircon/AcC1.jpeg" style="width:300px; height:300px" class="d-block " alt="...">
                    <h5 style="color:#001064;" class="card-title">Commercial</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center">

                <div class="cardCommercial">
                    <img src="../Image/Aircon/Res1.jpeg" style="width:300px; height:300px" class="d-block w-1" alt="...">
                    <h5 style="color:#001064;" class="card-title">Residential</h5>
                </div>
            </div>
        </div>


        <div class="list-group list-group-item-dark col-3" style="text-align: center; color:#001064; ">
            <h4><b>We provide most popular</b></h4>

            <h4><b>Repair</b> <span style="color: #ff800f; "><b>Services</b></span></h4>
            <a  asp-controller="Home" asp-action="AirConditioning" class="list-group-item list-group-item-action "><center><i class="fa fa-gear fa-spin " style="font-size:24px"></i></center> Gas Filling</a>
             <a  asp-controller="Home" asp-action="AirConditioning" class="list-group-item list-group-item-action "> Quality Testing </a>
           
            <a  asp-controller="Home" asp-action="AirConditioning" class="list-group-item list-group-item-action "> Duct Cleaning</a>
            <a  asp-controller="Home" asp-action="AirConditioning" class="list-group-item list-group-item-action "> Dust removal</a>
            <a  asp-controller="Home" asp-action="AirConditioning" class="list-group-item list-group-item-action "> Air Compressor Conditioning </a>
            <a  asp-controller="Home" asp-action="AirConditioning" class="list-group-item list-group-item-action ">Filter Changes / Cleaning</a>
            

        </div>
    </div>


    <!--services-->

    <div class="container clearfix mt-5 mb-5" )">

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box" style="Text-align:center">
                <div class="fbox-media ">
                   <center> <img style="border-radius: 2px; width:60px; height:60px; " src="/Image/air-conditioning.png" sty alt="Why choose Us?"></center>
                </div>
                <div class="fbox-desc ">
                    <h3 style="color:#001064" >Installation<span class="subtitle"><b>Your Property in Good Hands.</b></span></h3>

                </div>
            </div>
        </div>

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box" style="Text-align:center">
                <div class="fbox-media">
                      <center><img style="border-radius: 2px; width:60px; height:60px; text-align:center; " src="/Image/maintenance.png" alt="Effective Planning">  </center>
                </div>
                <div class="fbox-desc">
                    <h3 style="color:#001064">Repairs<span class="subtitle"><b>Service Process Organized.</b></span></h3>

                </div>
            </div>
        </div>

        <div class="col_one_third nobottommargin col_last">
            <div class="feature-box media-box" style="Text-align:center">
                <div class="fbox-media">
                     <center> <img style="border-radius: 2px; width:60px; height:60px; text-align:center;" src="/Image/tools.png" alt="Why choose Us?">  </center>
                </div>
                <div class="fbox-desc">
                    <h3 style="color:#001064">Maintanance.<span class="subtitle"><b>We have got you Covered.</b></span></h3>

                </div>
            </div>
        </div>

    </div>

     <div class="head  p-4" style="background-color:#001064; justify-content:center;">
            <h1 style="text-align: center; color:white">Air Conditioners</h1>
        </div>

    <div class="row pt-5 pb-5" style="color:#001064">
        <div class="card col-4 " style="width: 16rem;">
            <div class="card-header" style="color:#001064">
                Cassette  AC
            </div>
            <img src="/Image/Aircon/daikin-image.png" class="card-img-top pt-5" alt="...">
            <div class="card-body" style="color:#001064">
                <p class="card-text">360° air discharge for optimum efficiency and comfort.</p>
            </div>
        </div>
        <div class="card col-4 " style="width: 18rem;">
            <div class="card-header" style="color:#001064">
                Sky air
            </div>
            <img src="/Image/Aircon/daikin-image (1).png" class="card-img-top pt-5" alt="...">
            <div class="card-body" style="color:#001064">
                
                <p>Air-conditioning system, providing heating, cooling, ventilation and air purification to medium or small buildings.</p>
            </div>
        </div>
        <div class="card col-4" style="width: 18rem;">
            <div class="card-header">
               Mid Wall
            </div>
            <img src="/Image/Aircon/Samsung-AR4500-Inverter-Air-Conditioner-250x250.gif" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Industry leading technology in the most compact casing ever</p>
            </div>
        </div>
        <div class="card col-4" style="width: 18rem;">
            <div class="card-header">
                Under Ceiling
            </div>
            <img src="/Image/Aircon/under-ceiling-air-conditioner-450x450.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Ensures that youenjoy thecomfort of your home.</p>
            </div>
        </div>
    </div>


    <!--Reasons we are trusted-->
    <div class="row p-4">
        <div class=" col-6 ">
            <h1 style="color :grey ; text-align: center; margin:60px;"><b>Three Reasons why we are trusted</b></h1>
            <p style="color:gold; text-align: center;"><u><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></u></p>
            <ul style="color :#001064 ; text-align: center; font-size:24px; list-style:none;">
                 <li>Commitment to Safety </li>
                <li>Commitment to Excellence </li>
                <li>Commitment to Reliable Services </li>
               
            </ul>
        </div>
        <div class=" col-6 p-3 px-5">
            <img src="../Image/Aircon/WhatsApp Image 2022-08-09 at 2.35.24 PM.jpeg" class="d-block w-100 h-80" alt="...">
        </div>
    </div>

   
    
    
</body>
</html>