



<body style="margin:0; ">

   
    <!--Slider-->
    <div class="row"  >

        <div class=" col-6" style="color:#001064">
            <h2  data-animate="bounce slower" class="pt-5" style="color:#001064">Royal Refridgeration & Air Conditioning<br />Installation & Repair Company.</h2>
            <h4  data-animate="bounce slower"   style="color:#001064">
                Providing unique solutions to your problems.
            </h4>
            
            
            <ul >
                <li style="color:gold; list-style:none;"><i class="bi bi-star-fill "> </i><span style="color:#001064">We are Expect technicians</span></li>
                <li style="color:gold; list-style:none;"><i class="bi bi-star-fill "> </i><span style="color:#001064">100% Reliability &amp; Guarantee</span></li>
                 <li style="color:gold; list-style:none;"><i class="bi bi-star-fill "> </i><span style="color:#001064">We satisfied our customers</span></li>
                 
            </ul>
           
             <center><img class="col-3" style="width:140px; " src="/Image/Aircon/247.jpg " /></center>
        </div>
        <section id="slider" class="slider-element col-6 swiper_wrapper full-screen clearfix  mt-5 " data-autoplay="7000" data-speed="650" data-loop="true">

            <div>

                <div class="swiper-container swiper-parent">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide " style="background-image: url('/Image/Aircon/DG22.jpg'); background-position: center top; height:700px; "> <!--'/Image/12.jpg'-->
                           
                        </div>

                        <div class="swiper-slide" style="background-image: url('/Image/Aircon/WhatsApp Image 2022-08-09 at 2.36.06 PM (1).jpeg'); background-position: center top; height:700px; ">
                            
                        </div>
                        <div class="swiper-slide" style="background-image: url('/Image/Aircon/Image6.jpeg'); background-position: center top; height:700px; ">
                         
                        </div>
                        <div class="swiper-slide" style="background-image: url('/Image/Aircon/Image1.jpeg'); background-position: center top; height:500px; ">
                            
                        </div>
                        <div class="swiper-slide" style="background-image: url('/Image/Ac6.jpeg'); background-position: center top; height:500px; ">
                           
                        </div>
                        <div class="swiper-slide" style="background-image: url('/Image/Aircon/WhatsApp Image 2022-08-09 at 2.35.37 PM.jpeg'); background-position: center top; height:500px; ">
                           
                        </div>
                        
                    </div>
                    <!--<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
                    <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
                    <div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
                    <div class="swiper-pagination"></div>-->
                </div>

            </div>

        </section>
    </div>

     <a  asp-controller="Home" asp-action="Contact" class="button mt-5 button-3d nobottomborder button-full center tright bottommargin-lg t300 font-primary" style="font-size: 26px; background-color:#001064;">
        <div class="container clearfix">
            Need Help right away? <strong>Enquire Here</strong> <i class="bi bi-caret-down-fill"></i>
        </div>
    </a>
    
    <div class="row mb-5  ">
        <div class="col-6">
            <img src="~/Image/Aircon/PRODUCTS-.png" alt="aircon" />
        </div>
        <div class="col-6" style="color:#001064"> <!--style="background-color: #dee2e6"-->

            <div class="feature-box fbox-dark fbox-effect  mt-5" data-animate="fadeIn">
                <div class="fbox-icon ">
                    <i style=" align-items:center; padding-top:20px;" class="bi bi-snow   text-info mt-2"></i>
                </div>
                <div class="fbox-content ms-4">
                    <h2 style="color:#001064">Air Conditioner  <img src="/Image/fire.png" style="width:40px; height:40px; me-4; pb-4  " alt=""></h2>
                    <ul style="list-style: none;   padding-top:10px; padding-bottom:5px;">
                         <li style="color:gold; list-style:none;"><i class="bi bi-star-fill "> </i><span style="color:#001064">Not blowing cold air.</span></li>
                          <li style="color:gold; list-style:none;"><i class="bi bi-star-fill "> </i><span style="color:#001064">Not turning on.</span></li>
                           <li style="color:gold; list-style:none;"><i class="bi bi-star-fill "> </i><span style="color:#001064">Freezing up outside unit.</span></li>
                            <li style="color:gold; list-style:none;"><i class="bi bi-star-fill "> </i><span style="color:#001064">Making noises.</span></li>
                         
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
     <!--Services-->
    <div class="row  mb-5"  style="color:#001064">

        <div class="col-lg-4 col-md-6 col-12 ">
            <div class="tm-service text-center tm-revealblock">
                <div class="tm-service-icon  pt-4">
                    <img src="~/Image/icon-service-2.png" alt="feature icon">
                </div>
                <div class="tm-service-content pt-2 ">
                    <h6 style="color:#001064">Duct Cleaning</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 ">
            <div class="tm-service text-center tm-revealblock">
                <div class="tm-service-icon pt-4 ">
                    <img src="~/Image/icon-service-3.png" alt="feature icon">
                </div>
                <div class="tm-service-content pt-2">
                    <h6 style="color:#001064">Quite Operation</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 ">
            <div class="tm-service text-center tm-revealblock">
                <div class="tm-service-icon">
                    <img src="~/Image/indoorAirQ.png" alt="feature icon">
                </div>
                <div class="tm-service-content pt-2">
                    <h6 style="color:#001064">Indoor Air Quality</h6>
                </div>
            </div>
        </div>


    </div>

    <div class="row mt-5" ><!--style="background-color:#ccc;"-->
        <div class="col-6 feature-box fbox-dark fbox-effect  " style="color:#001064" data-animate="fadeIn" data-delay="200">
            <div class="fbox-icon ms-2 mt-5">
                <i style=" align-items:center; padding-top:20px;" class="bi bi-thermometer-snow center text-info"></i>
            </div>

            <div class="fbox-content mt-5 ">
                <h2 style="color:#001064; padding-left:65px;">Refridgeration problems <img src="/Image/Aircon/AniThermometer.gif" style="width:40px; height:40px; me-4; pb-4  " alt="" /></h2>
                <ul style="list-style: none;   padding-top:10px; padding-bottom:5px;  padding-left:75px;">
                     <li style="color:gold; list-style:none;"><i class="bi bi-star-fill "> </i><span style="color:#001064">Water Leakage.</span></li>
                      <li style="color:gold; list-style:none;"><i class="bi bi-star-fill "> </i><span style="color:#001064">Not Enough Defrosting.</span></li>
                       <li style="color:gold; list-style:none;"><i class="bi bi-star-fill "> </i><span style="color:#001064">Not Enough Cooling in the Refrigerator.</span></li>
                        <li style="color:gold; list-style:none;"><i class="bi bi-star-fill "> </i><span style="color:#001064">Noisy refridgerator.</span></li>
                   
                </ul>
            </div>
        </div>
        <div class="col-6  mb-5 ">
            <center> <img src="~/Image/Aircon/commercial-fridge-line-up (1).png" style="height:400px; width:400px; " alt="aircon" /></center>
        </div>
    </div>


    <!-- Content
    ============================================= -->
    
    <div class="row col-12 center ">



        <div class="col-4 ">
            <div class="counter ls1 t600 mt-30" style="color: #D2D2D2;"><span data-from="100" data-to="514" data-refresh-interval="50" data-speed="2500"></span></div>
            <h5 style="color:#001064">Employees</h5>
        </div>

        <div class="col-4 ">
            <div class="counter ls1 t600" style="color: #D2D2D2;"><span data-from="100" data-to="458" data-refresh-interval="50" data-speed="3500"></span></div>
            <h5 style="color:#001064">Happy Clients</h5>
        </div>

        <div class="col-4 ">
            <div class="counter ls1 t600" style="color: #D2D2D2;"><span data-from="14" data-to="159" data-refresh-interval="15" data-speed="2700"></span></div>
            <h5 style="color:#001064">Cities Served</h5>
        </div>
    </div>
   

    
        <!-- Newsletter Area -->
        <div id="tm-newsletter-area" class="tm-newsletter-area tm-section tm-padding-section" style="background-color:#001064; ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-4">
                        <h4 style="color:#fff" class="tm-newsletter-title">Newsletter Subscribe</h4>
                    </div>
                    <div class="col-4">
                        <form id="tm-mailchimp-form" class="tm-newsletter-form pt-4">
                            <input id="mc-email" type="email" style="  text-align:center; " placeholder="Email address...">
                            <button id="mc-submit" type="submit" style="  background-color: #F18052;" class="tm-button text-light">Subscribe</button>

                        </form>

                    </div>
                    <div class="col-4 ">
                        <div id="top-social">
                            <ul class="hlist">

                                <li class="list-group-item pl-2 pr-2 pt-2 pb-2"><i class="bi bi-telephone  text-light"></i></li>
                                <li class="list-group-item pl-2 pr-2 pt-2 pb-2"><i class="bi bi-whatsapp  text-light"></i></li>
                                <li class="list-group-item pl-2  pr-2 pt-2 pb-2"><i class="bi bi-envelope  text-light"></i></li>
                                <li class="list-group-item pl-2 pr-2 pt-2 pb-2"><i class="bi bi-facebook  text-light"></i></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Newsletter Area -->


    <!-- Faq Area -->
    <div class="row pt-4 pb-4">


        <div class="tm-question-right col-8" style="color:#001064">
            <h2 style="color:#001064">Frequently Asked Questions</h2>

            <!-- Accordion -->
            <div id="tm-accordion" class="tm-accordion">
                <div class="card" style="color:#001064">
                    <div class="card-header" id="headingOne">
                        <h5 style="color:#001064" class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" style="color:#001064"
                                    data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                Why should I have maintenance done ?<i class="bi bi-caret-down-fill me-3"></i>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" style="color:#001064"
                         data-parent="#tm-accordion">
                        <div class="card-body" style="color:#001064">
                            <p>
                                Keeps energy bills down!
                                Increase lifespan of your equipment.
                                Ensure warranties are honoured.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card" style="color:#001064">
                    <div class="card-header" id="headingTwo">
                        <h5 style="color:#001064" class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" style="color:#001064"
                                    data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                What kind of charges should I expect ?<i class="bi bi-caret-down-fill pl-4"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                         data-parent="#tm-accordion">
                        <div class="card-body" style="color:#001064">
                            <p>
                                Service fee discussed and agreed before work commences.
                                Replacement costs are charged if they are faulty parts on your appliance.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card" style="color:#001064">
                    <div class="card-header" id="headingThree">
                        <h5 style="color:#001064" class="mb-0">
                            <button class="btn btn-link collapsed " data-toggle="collapse" style="color:#001064"
                                    data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                When should I set a maintenance schedule ?<i class="bi bi-caret-down-fill pl-4"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#tm-accordion">
                        <div class="card-body" style="color:#001064">
                            <p>
                                Twice a year.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card" style="color:#001064">
                    <div class="card-header" id="headingFour">
                        <h5 style="color:#001064" class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" style="color:#001064"
                                    data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                How does repairing equipment help preserve the environment?<i class="bi bi-caret-down-fill pl-4"></i>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                         data-parent="#tm-accordion">
                        <div class="card-body" style="color:#001064">
                            <p>
                                This means that the longer your appliance lasts, the lower its overall carbon footprint, and the fewer appliances we send to landfill.
                                Reuse is the best green policy.
                                Repair, resale, and reuse keep equipment in service and out of the waste stream.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">

            <div class="widget quick-contact-widget clearfix" style="color:#001064">
                <h4 style="color:#001064">Quick Quotation Form</h4>
                <div class="quick-contact-form-result"></div>
                <form id="quick-contact-form" name="quick-contact-form" method="post" class="quick-contact-form nobottommargin" style="color:#001064">
                    <div class="form-process"></div>
                    <input type="text" class="required sm-form-control input-block-level text-info" id="quick-contact-form-name" name="quick-contact-form-name" value=""style="color:#0a58ca" placeholder="Full Name" />
                    <input type="text" class="required sm-form-control email input-block-level text-info" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Email Address" />
                    <textarea class="required sm-form-control input-block-level short-textarea text-info" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Message"></textarea>
                    <input type="text" class="hidden" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="" />
                    <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d nomargin " value="submit">Send Email</button>
                    <h6 style="color:#001064">* Our Customer support Team will contact you within 24Hrs.</h6>
                </form>

            </div>

        </div>
    </div>


    <!--brands-->
    <div class="container topmargin-lg clearfix">

        <div id="oc-clients" class="owl-carousel topmargin image-carousel carousel-widget" data-margin="80" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">

            <div class="oc-item"><a href="#"><img src="Image/Aircon/Samsung.png" alt="Clients"></a></div>
            <div class="oc-item"><a href="#"><img src="Image/Aircon/Carrear.png" alt="Clients"></a></div>
            <div class="oc-item"><a href="#"><img src="Image/Aircon/Lg.png" alt="Clients"></a></div>
            <div class="oc-item"><a href="#"><img src="Image/Aircon/Daikin.png" alt="Clients"></a></div>
            <div class="oc-item"><a href="#"><img src="Image/Aircon/Alliance.png" alt="Clients"></a></div>
            <div class="oc-item"><a href="#"><img src="Image/Aircon/Carrear.png" alt="Clients"></a></div>
            <div class="oc-item"><a href="#"><img src="Image/Aircon/Media.png" alt="Clients"></a></div>

        </div>

    </div>






</body>
