<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="~/css/styles.css" asp-append-version="true" />
   
</head>
<body>
    <div class="wrapper" id="Privacy">
        <div class="herotext" style="text-align: center">
                  
                       <h1 >Repair <span style="color: yellow; text-shadow: 2px 0 10px  #000;">Services</span></h1>
                </div>
        
        <div class="row">
            <div class="col-4">
                <div class="card text-center">
                    
                    <div class="cardCommercial">
                        <img src="../Image/Commercial.jpg" class="d-block w-100" alt="...">
                        <h5 class="card-title">Commercial</h5>
                        </div>
                </div>
            </div>
             <div class="col-4">
                <div class="card text-center">
                    
                    <div class="cardResidential">
                        <img src="../Image/Residential.jpg" class="d-block w-100" alt="...">
                        <h5 class="card-title">Residential</h5>
                        </div>
                </div>
            </div>
             <div class="col-4 p-3">
                <div class="card text-center ">
                    
                    <div class="cardIndustrial">
                        <img src="../Image/Industrial.jpg" class="d-block w-100" alt="...">
                        <h5 class="card-title">Industrial Service</h5>
                         </div>
                        <button type="button" class="btnIndustrial ">Read more...</button>
                       
                        
                </div>
            </div>

        <div class="head pt-2 pb-2" style="background-color:blue; justify-content:center;">
            <h1 style="text-align: center; color:white">Services Offered</h1>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card text-center">
                    <div class="card-header">
                        Installation
                    </div>
                    <div class="card-body">
                        <img src="../Image/installation.png" class="d-block w-100" alt="...">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-center">
                    <div class="card-header">
                        Repairs
                    </div>
                    <div class="card-body">
                        <img src="../Image/Repairs.png" class="d-block w-100" alt="...">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-center">
                    <div class="card-header">
                        Maintanance
                    </div>
                    <div class="card-body">
                        <img src="../Image/mainanance.png" class="d-block w-100" alt="...">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                        2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Reasons we are trusted-->
    <div class="row" style="color :blue ; text-align: center;">
        <div class=" col-6 p-3">
            <h1 ><b>Three Reasons why we are trusted</b></h1>
            <ol>
                <li>Commitment to Reliable Services </li>
                <li>Commitment to Safety </li>
                <li>Commitment to Excellence </li>
            </ol>
            
        </div>
        <div class=" col-6 p-3"></div>
    </div>

    <div class="banner row" style="height:65px; width:100%" >
                <div class="col-1"><img src="https://cdn-icons-png.flaticon.com/128/6455/6455046.png" data-src="https://cdn-icons-png.flaticon.com/128/6455/6455046.png" alt="Sunny " title="Sunny " 
                   width="64" height="64" class="lzy lazyload--done" srcset="https://cdn-icons-png.flaticon.com/128/6455/6455046.png"></div>
                <div class="col-5" style="background-color:#eba515" >Residential Repair Services</div>
                 <div class="col-1"><img src="https://cdn-icons-png.flaticon.com/128/6455/6455046.png" data-src="https://cdn-icons-png.flaticon.com/128/6455/6455046.png" alt="Sunny " title="Sunny " 
                   width="64" height="64" class="lzy lazyload--done" srcset="https://cdn-icons-png.flaticon.com/128/6455/6455046.png"></div>
                <div class="col-5" style="background-color:#0d0641">Commercial Repair Services</div>
                
            </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</body>
</html>