<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="~/css/styles.css" asp-append-version="true" />
   
</head>
<body>
   <div class="container"  style="background:#aac341; height:60px; align-items:center; justify-content:center; color:#fff;">
            
            <h1 style="color:dimgray">Home<i class="bi bi-chevron-double-right"></i>
                <span style="color:#fff; padding-top:10px;">Gallery</span></h1>
        </div>

        <div>
            <h1><em>Artificial Grass</em></h1>
           <div class="row ">
                  <div class="col-3">
                      <div class="card-body">
                     
                          <img src="/Images/Artificial-Grass-BishopsCourt-Premium-30mm (1).jpg" class="card-img-top" alt="...">
                           <div class="card-body">
                        
                          </div>
                       </div>
                  </div>
                  <div class="col-3">
                      <div class="card-body">
                          <img src="/Images/Artificial-Grass-Brackenfell1-EcoGrass25mm (1).jpg" class="card-img-top" alt="...">
                           <div class="card-body">
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                       
                            <div class="card h-100">
                              <img src="/Images/artificial-grass-01.jpg" class="card-img-top" alt="...">
                               <div class="card-body">
                        
                              </div>
                             </div>
                        
                  </div>
                  <div class="col-3">
                      <div class="card h-100">
                          <img src="/Images/Putting-Green-Bellville-Sport1 (1).jpg" class="card-img-top" alt="...">
                             <div class="card-body">
                        
                          </div>
                      </div>
                  </div>
            </div>
            <div class="row">
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="/Images/artificial-grass-02.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="/Images/artificial-grass-03.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="/Images/artificial-grass-04.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="card h-100">
                      <img src="/Images/artificial-grass-05.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                       
                        
                      </div>
                    </div>
                  </div>
            </div>
    <div class="row ">
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/artificial-grass-06.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                </div>
            </div>
          </div>
          <div class="col-3">
                <div class="card h-100">
                  <img src="/Images/artificial-grass-07.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
       
                  </div>
                </div>
            </div>
          <div class="col">
            <div class="card h-100">
              <img src="/Images/artificial-grass-08.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/Images/artificial-grass-09.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
    </div>
    <div class="row">
          <div class="col">
            <div class="card h-100">
              <img src="/Images/artificial-grass-10.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/Images/artificial-grass-11.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/Images/artificial-grass-12.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/Images/artificial-grass-13.jpg" class="card-img-top" alt="...">
              <div class="card-body">
      
             </div>
             </div>
           </div>
    </div>



    <div class="row ">
      <div class="col-3">
        <div class="card h-100">
          <img src="/Images/artificial-grass-14.jpg" class="card-img-top" alt="...">
          <div class="card-body">
        
          </div>
        </div>
      </div>
    </div>

   <h1><em>Paving</em></h1>
   <hr/>
    <div class="row">
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/paving-01.jpg" class="card-img-top" alt="...">
              <div class="card-body">
      
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/paving-02.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/paving-03.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/paving-04.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
    </div>
    <div class="row">
          
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/paving-05.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/paving-06.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/paving-07.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
           <div class="col-3">
            <div class="card h-100">
              <img src="/Images/paving-08.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
    </div>
    <div class="row">
         
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/paving-09.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
        
        
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/paving-10.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          
    </div>

  <h1><em>Exposed Aggregate</em></h1>
  <hr/>
     <div class="row">
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/exposed-aggregate-01.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/exposed-aggregate-03.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/exposed-aggregate-04.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
     </div>

  <h1><em>Stone LandScapping</em></h1>
  <hr/>
    <div class="row">
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/stones-01.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/stones-02.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/stones-03.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/stones-04.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
    </div>
    <div class="row">
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/stones-05.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/stones-06.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/stones-07.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/stones-08.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
     </div>
     <div class="row">
          <div class="col">
            <div class="card h-100">
              <img src="/Images/stones-09.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/Images/stones-10.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/Images/stones-11.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="/Images/stones-12.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
    </div>

  <h1><em>Cobble Edging</em></h1>
  <hr/>
    <div class="row">
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/cobble-edging-01.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/cobble-edging-02.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/cobble-edging-03.jpg" class="card-img-top" alt="...">
              <div class="card-body">
       
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card h-100">
              <img src="/Images/cobble-edging-04.jpg" class="card-img-top" alt="...">
              <div class="card-body">
        
              </div>
            </div>
          </div>
    </div>
    <h1><em>GET A QUOTE</em></h1>
     <hr/>
        
   
       <div>
           <h1>AREA CALCULATOR</h1>
            <div class="row mb-3">
              <label for="length" class="col-3">Length (in meters)</label>
         
                <input type="text" class="col-3" id="colFormLabel" placeholder="1">
         
            </div>
            <div class="row mb-3">
              <label for="width" class="col-3">Width (in meters)</label>
        
                <input type="text" class="col-3" id="colFormLabel" placeholder="1">
              </div>
              <h3>Total Area (square  meters) : 1.00m </h3>
        </div>
    
        <!-- <form>
        <div>
        <form asp-action="Gallery" asp-controller="HomeController" method="post">
        <h1>AREA CALCULATOR</h1>
        <label for="length">Length(in meters)</label>
        <input for="length" placeholder="1"/>
        <label for="width">Width(in meters)</label>
        <input for="width" placeholder="1"/>
        <h3><strong>Total Area</strong>(square meters):  1.00m</h3>
        </form>
        </div>
     </form>
        -->
    

    <h1 class="mt-5">SUBMIT QUOTE</h1>
        <div class="row mb-3">
          <label for="product" class="col-sm-2 col-form-label col-form-label-sm">Product</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
          </div>
        </div>
        <div class="row mb-3">
          <label for="estimate" class="col-sm-2 col-form-label">Estimate area (in Square meters)</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
          </div>
        </div>
        <div class="row">
          <label for="shape" class="col-sm-2 col-form-label col-form-label-lg">Shape of Area</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
          </div>
        </div>
        <div class="row">
          <label for="surface" class="col-sm-2 col-form-label col-form-label-lg">Existing Surface</label>
          <div class="col-sm-10">
            <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
          </div>
          <button type="button" class="btn btn-success">Estimated Total</button>
        <button type="button" class="btn btn-success">Submit</button>

        </div>
    
    


    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</body>
</html>